@color-white: #ffffff;
@color-light-blue: #07c6f4;
@color-blue: #00abec;
@color-dark-blue: #0078d7;
@color-green: #7bb63c;
@color-light-grey: #eeeeee;
@color-dark-text: #1c2532;
@color-grey-text: #b1b0b1;

@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUINormal';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/normal/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/normal/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/normal/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/normal/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/normal/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {

}
 
body {

    background: @color-white;
    color: @color-dark-text;
    font-family: 'wf_SegoeUINormal';
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    min-width: 375px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 963px;
    min-width: 335px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: 'wf_SegoeUILight';
    font-size: 47px;
    line-height: 41px;
    font-weight: lighter;
    color: @color-white;
}

h2 {
    font-family: 'wf_SegoeUILight';
    font-size: 47px;
    line-height: 56px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.2px;
    margin-bottom: 50px;
}


.header-top {
    padding: 23px 0 16px;
    border-bottom: 5px solid @color-light-grey;
}

.header-bottom {
    background-color: @color-light-blue;
    background-image: url("../img/clouds.png");
    background-repeat: no-repeat;
    background-position: center 85px;
}

.header-bottom__container{
    position: relative;
    padding-top: 86px;
    padding-bottom: 92px;
}

.logo {
	float: left;
    display: inline-block;
    vertical-align: middle;
}

.social {
	float: right;
    display: inline-block;
    vertical-align: middle;
}

.social__paragraph {
    margin: -8px 11px 0 0;
    font-size: 16px;
    color: @color-grey-text;
    display: inline-block;
    vertical-align: middle;
}

.social__btn {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-top: -7px;
}

.social__btn-fb {
    background: url("../img/social-sprite.png") no-repeat -10px -44px;
    margin-right: 5px;
}

.social__btn-vk {
    background: url("../img/social-sprite.png") no-repeat -51px -44px;
    margin-right: 3px;
}

.header__paragraph {
    color: @color-white;
    width: 50%;
    margin-bottom: 24px;
    margin-top: 19px;
}

.header__img {
    position: absolute;
    top: 25px;
    right: 0;
    width: 45%;
}

.main {
    background-image: url("../img/clouds-main.png");
    background-repeat: no-repeat;
    background-position: center 89px;
    padding-top: 18px;
}

.liked-solution--justify {
    text-align: justify;
    text-align-last: justify;
}

.liked-solution__item {
    width: 201px;
    
    display: inline-block;
    vertical-align: top;
    margin-top: 39px;
    }

 
.liked-solution__img {
    background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    width: 201px;
    height: 118px;
    box-shadow: 0 0 0 2px @color-light-grey;
}

.liked-solution__item:hover .liked-solution__img {
    background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    box-shadow: 0 0 0 2px @color-green;
}

.liked-solution__img--wowza {
    background-position: -30px -20px;
}

.liked-solution__item:hover .liked-solution__img--wowza {
    background-position: -30px -148px;
}

.liked-solution__img--kaspersky {
    background-position: -248px -21px;
}
  
.liked-solution__item:hover .liked-solution__img--kaspersky {
    background-position: -248px -145px;
}

.liked-solution__img--barrakuda {
    background-position: -482px -21px;
}

.liked-solution__item:hover .liked-solution__img--barrakuda {
    background-position: -482px -145px;
}

.liked-solution__img--oracle {
    background-position: -723px -21px;
}

.liked-solution__item:hover .liked-solution__img--oracle {
    background-position: -723px -145px;
}

.liked-solution__img--coreos {
    background-position: -30px -291px;
}

.liked-solution__item:hover .liked-solution__img--coreos {
    background-position: -30px -415px;
}

.liked-solution__img--opensourse {
    background-position: -248px -291px;
}
    
.liked-solution__item:hover .liked-solution__img--opensourse {
    background-position: -248px -415px;
}

.liked-solution__img--datameer {
    background-position: -482px -292px;
}

.liked-solution__item:hover .liked-solution__img--datameer {
    background-position: -482px -416px;
}

.liked-solution__img--zend {
    background-position: -723px -291px;
}

.liked-solution__item:hover .liked-solution__img--zend {
    background-position: -723px -415px;
}

.liked-solution__title {
    color: @color-dark-text;
    font-size: 22px;
    margin-top: 19px;
    text-align: left;
    text-align-last: left;
}

.liked-solution__item:hover .liked-solution__title {
        color: @color-green;
    }

.store {
    background: @color-dark-blue;
    margin-bottom: 47px;
    margin-top: 81px;
}

.store__container {
    padding: 28px 20px 35px 70px;
}

.store__img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    width: 18%
}

.store__paragraph {
    display: inline-block;
    vertical-align: middle;
    width: 74%;
    color: @color-white;
}

.store__link {
    color: @color-green;
    text-decoration: none;
    font-weight: bold;
}

.resources {
    h2 {
        text-align: left;
    }
}

.resources__list {
    list-style: none;
    padding: 0;
    margin-bottom: 92px;
    text-align: justify;
    text-align-last: justify;
}

.resources__item {
    display: inline-block;
    margin: 0 0 24px 0;
    &--last {
        margin-right: 0;
    }
}

.resources__link {
    display: block;
    border: 2px solid @color-dark-blue;
    color: @color-dark-blue;
    padding: 10px 10px 13px 35px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: left;
    text-align-last: left;
    &:hover {
        background: @color-green;
        border: 2px solid @color-green;
        color: @color-white;
    }
}
 
.resources__item--ch9 {
    width: 60%;
}

.resources__item--catalog {
    width: 38%;
}

.resources__item--virtual {
    width: 35%;
}

.resources__item--integration {
    width: 39%;
}

.resources__item--presentation {
    width: 22%;
}

.how-buy__container h2 {
    margin-bottom: 63px;
}

.how-buy__list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 85px;
    text-align: center;
}   

.how-buy__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
    width: 13%;
    margin-right: 8%;
    &:last-child {
        margin-right: 0;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 130%;
        height: 2px;
        background: @color-blue;
        top: 40px;
        left: 80px;
    }
    &:last-child::after {
        display: none;
    }
}

.how-buy__number {
    background: @color-blue;
    color: @color-white;
    border-radius: 50%;
    width: 81px;
    height: 81px;
    font-size: 47px;
    line-height: 76px;
    margin: 0 auto;
}

@media screen and (max-width: 1020px) {
    .liked-solution__title {
        font-size: 1.1em;
    }
    .resources__link {
        padding: 10px 10px 13px 1.7em;
        text-align: left;
        text-align-last: left;
        font-size: 0.9em;
    }
    .resources__list {
        text-align: justify;
        text-align-last: justify;
    }
    .store__paragraph {
        font-size:  0.9em;
    }

}

@media screen and (max-width: 980px) {
    .header-bottom__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header__img {
        width: 39%;
    }
}

@media screen and (max-width: 925px) {
    .header-bottom__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header__paragraph {
        font-size: 0.9em;
    }

    h2 {
        font-size: 2.3em;

    }

    .liked-solution__item {
        width: 201px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;    
    }
    
    .liked-solution__title {
        font-size: 1em;
        text-align: center;
        text-align-last: center;
        margin-top: 10px;
    }

    .store {
        margin-top: 45px;
    }

    .resources__link {
        padding: 10px 10px 13px 1.65em;
        text-align: left;
        text-align-last: left;
        font-size: 0.85em;
    }

}

@media screen and (max-width: 877px) {
    h2 {
            font-size: 2.1em;
    }

    .liked-solution--justify {
        text-align: center;
        text-align-last: center;
    }

    
    .resources__link {
        padding: 10px 10px 13px 1.3em;
        font-size: 0.81em;
    }

    .how-buy__paragraph {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 825px) {
    h2 {
        margin-bottom: 30px;
    }

    .store {
        margin-top: 30px;
    }

    .resources__list {
        margin: 0 0 10px 0;
    }

    .resources__item  {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .how-buy__paragraph {
        word-wrap: break-word;
    }

}

@media screen and (max-width: 715px) {
    .header-bottom__container {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .main {
        padding-top: 0;
    }

    h1 {
            font-size: 2.1em;
    }

    h2 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 1.5em;
        
    }

    .resources h2 {
        text-align: center;
    }

    .header__img {
        display: none;
    }

    .header__paragraph {
        width: 100%;
    }

    .liked-solution__title {
        display: none;
    }

    .liked-solution__item {
        margin-top: 4px;
    }

    .store {
        margin-bottom: 20px;
    }

    .store__container {
        padding: 10px 20px 10px 20px;
    }

    .how-buy__list {
        margin-top: 20px;
    }

    .how-buy__container h2 {
        margin-bottom: 0;
    }

    .how-buy__number {
            width: 70px;
        height: 70px;
        font-size: 38px;
        line-height: 65px;
    }

    .how-buy__item {
        margin-right: 6%;
    }

    .how-buy__item::after {
        top: 37px;
        left: 61px;
    }

    .how-buy__paragraph {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 555px) {
    .how-buy__item {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-align: left;
    }

    .how-buy__item::after {
        display: none;
    }

    .how-buy__item:last-child {
        margin: 0 auto;
    }

    .how-buy__number {
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        margin-right: 10px;

    }

    .how-buy__paragraph {
        display: inline-block;
        font-size: 0.85em;
        width: 70%;
    }

}

@media screen and (max-width: 430px) {
    .social__paragraph{
        display: none;
    }
}


@media screen and (max-width: 350px) {
    .h1{
        font-size: 2em;
    }
    .header__paragraph {
        width: 90%;
    }

    .store__paragraph {
        width: 70%;
    }
}